* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Dosis', sans-serif;
    font-size: 120%;
    line-height: 1.4;
    background-color: #fff;
    color: #fff;
}
h2 {
    padding:  1rem 0 1rem 0;
}
p {
    text-align: justify;
}
nav, footer {
    background-color: #325935;
}
nav ul, footer ul {
    list-style-type: none;
    display: flex;
    padding: 1rem;
}
nav a, footer a {
    text-decoration: none;
    color: #fff;
}
nav a:hover, footer a:hover {
    color: #B9D948;
}
.cont1, .cont2 {
    background-color: #B9D948;
    height: auto;
    padding: 2rem 0rem 2rem 0rem;
}
blockquote {
    font-family: 'Architects Daughter', cursive;
    font-size: 5.5vw;
    text-align: center;; 
    color: #325935;
    width: 100%;
}
.quote {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
}
.quote p {
    text-align: center;
}
cite {
    padding: 2rem;
    color: #325935;
    display: block;
}
img {
    width: 100%;
    display: block;
    margin: auto;
    padding: 0rem;
}
article {
    width: 100%;
    display: flex;
    align-items: center;
    color: #325935;
}
section {
    width: 50%;
    padding: 2rem;
}
.info {
    width: 50%;
}
iframe {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.cont1 a, .cont2 a {
    text-decoration: none;
    color: #325935;
}
.cont1 a:hover, .cont2 a:hover {
    color: #fff;
}
dd {
    padding-left: 2rem;
}
dt {
    font-weight: 600;
}
table {
    margin: 0 auto;
    width: 80%;
    border: 0.5rem solid #325935;
    vertical-align: middle;
    text-align: center;
}
td {
    border: 0.15rem dotted #325935;
}
form label {
    display: inline-block;
    width: 100%;
    text-align: left;
}
form input {
    width: 100%;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 100%;
    color: #325935;
}
form textarea {
    width: 100%;
}
input[type=radio] {
    width: 5rem;
}
input[type=range] {
    width: 95%;
}
select[name=inputInfo] {
    width: 100%;
    height: 1.5rem;
    color: #325935;
    display: block;
    margin: 0 auto;
    text-align: center;
}
button[type=submit], button[type=reset] {
    color: #325935;
    background-color: #B9D948;
    border: 1px solid #325935;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}
button[type=submit]:hover, button[type=reset]:hover {
    color: #B9D948;
    background-color: #325935;
    border: 1px solid #B9D948;
}
.smaller {
    font-size: 75%;
}


/******************* mobile **********************************/
@media screen and (max-width: 720px) {
    nav ul {
        font-size: 90%;
        display: block;
    }
    footer ul {
        display: block;
    }
    .abstand {
        display: none;
    }
    article {
        align-items: center;
        text-align: center;
        display: block;
        padding: 0;
    }
    section {
        width: 100%;
        padding: 1rem 0rem 1rem 0rem;
    }
    .info {
        width: 100%;
    }
    dd {
        padding-left: 0rem;
    }
}